body {
  background-color: #2f3c7e;
  margin-top: 12%;
}

.navbar-custom {
  background-color: #fbeaeb;
}

.intro-pic {
  border-radius: 50px;
}

.hobbyIcons {
  width: 90%;
}

.hobby-img {
  margin-top: 10px;
  margin-left: -2px;
  width: 70px;
  height: 70px;
}

.icons {
  background-color: white;
  width: 90px;
  height: 90px;
  margin: 35px auto;
  border-radius: 7px;
  box-shadow: 5px 8px rgba(0, 0, 0, 0.548);
  transition: all 0.15s ease-in-out;
  color: transparent;
}

.icons:hover {
  cursor: pointer;
  color: white;
}

.WOdesc {
  margin-top: 20px;
  width: 91px;
  margin-left: -12px;
}
.COdesc {
  margin-top: 20px;
  margin-left: 5px;
}
.VGdesc {
  margin-top: 20px;
  width: 94px;
  margin-left: -13px;
}
.TRdesc {
  margin-top: 20px;
  margin-left: 1px;
}
.SKdesc {
  margin-top: 20px;
  margin-left: 5px;
}

#education {
  margin-top: 50px;
}

.edu-exp-section {
  margin-bottom: 100px;
}

.tab-container {
  margin-left: 100px;
}

.tab-custom {
  background-color: transparent !important;
  color: white;
  border: 2px solid white !important;
  border-radius: 4px !important;
  width: 180px;
  margin: 0px 5px;
  margin-top: 50px;
  font-size: 1.5em;
}

.tab-custom:hover {
  background-color: #6c757d !important;
  color: white;
}

.nav-link.tab-custom.active {
  background-color: #6c757d !important;
}

/* this is to center the carousel */
.carousel-custom {
  margin-left: 0px;
}

.experince-container {
  color: white;
  border: 2px solid white;
  margin: 50px 0px;
  border-radius: 10px;
}

.contact-container {
  width: 60%;
  margin: 0 auto;
}

.hidden.emailSuccessMessage {
  display: none;
}

@media (min-width: 1400px) {
  .about-body {
    margin-top: 110px;
  }
}

@media (min-width: 992px) {
  .about-body {
    margin-top: 110px;
  }
}

@media (max-width: 768px) {
  .icons {
    margin: 35px 54px;
  }
  .contact-container {
    width: 80%;
  }
}

@media (max-width: 600px) {
  .icons {
    margin: 35px 42px;
    margin-bottom: 0;
  }
  body {
    margin-top: 20%;
  }
  .about-body {
    margin-top: 35px;
  }
}
